<div class="spinning-preloader-container" *ngIf="loaded">
  <div class="spinning-preloader-elements"></div>
</div>

<div class="wrapper_header container container-padding">
  <div class="flex">
    <div class="flex__col text-left">
      <span class="title">{{ local?.everyone }}</span>
      <span class="number">{{people?.length}}</span>
    </div>
    <div class="flex__col text-right">
      <span class="link-header" routerLink="../add">{{ local?.addPerson }}</span>
      <span class="link-header">
          <label class="fileContainer">
            {{ local?.importCsv }}
          <input type="file" (change)="fileOnChange($event)" accept=".csv">
        </label>
      </span>
    </div>
  </div>
</div>

<div class="wrapper_content container container-padding container-white">
  <div *ngIf="!people?.length && !searchTouched" class="not-people">
    <div class="row">
      <div class="col-sm-6">
        <div class="btn btn_large btn_margin-bottom" routerLink="../add">{{ local?.addYourFirstPerson }}</div>
      </div>
      <div class="col-sm-6">
        <label class="btn btn_large btn_margin-bottom fileContainer">
          <input type="file" (change)="fileOnChange($event)" accept=".csv">
          {{ local?.importCsv }}
        </label>
      </div>
    </div>
  </div>
  <section class="people__wrapper" *ngIf="people?.length || searchTouched">
    <header class="people__header">
      <div class="checkbox-group">
        <input type="checkbox" class="people__header-checkbox" id="isSelectedAll" [(ngModel)]="selectedAll"
               (change)="onSelectAll()">
        <label for="isSelectedAll"><span *ngIf="!this.selectUsers?.length">{{ local?.selectAll }}</span></label>
        <span *ngIf="this.selectUsers?.length">
          <span class="people__selected">{{ this.selectUsers?.length }} {{ local?.selected }}:</span>
          <span class="mobile_group">
            <span class="link link_send" (click)="sendEmailAllUsers()"
                  (touchend)="sendEmailAllUsers()">{{ local?.sendEmail }}</span>
            <span class="link link_red link_trash" (click)="removeAllUsers()"
                  (touchend)="removeAllUsers()">{{ local?.delete }}</span>
          </span>

        </span>
      </div>

      <div class="people__header-search">
        <input type="text"
               class="people__header-search-input"
               [(ngModel)]="searchRef"
               placeholder="{{ local?.search }}"
               (input)="term$.next($event.target.value)"
               [ngClass]="{'people__header-search-input_not-empty': searchRef}"
        >
        <div class="people__header-search-btn people__header-search-btn_icon-search" *ngIf="!searchRef"></div>
        <div class="people__header-search-btn people__header-search-btn_icon-close"
             *ngIf="searchRef"
             (click)="clearSearch()"
             (touchend)="clearSearch()"
        ></div>
      </div>


    </header>
    <div class="people__list">
      <div class="not-found" *ngIf="!people?.length && searchTouched">
        {{ local?.peopleNotFound }}
      </div>
      <div class="people__item" *ngFor="let person of people">
        <div class="checkbox-group people__checkbox">
          <input type="checkbox" id="{{ person._id }}" class="people__header-checkbox" [(ngModel)]="person.isSelected"
                 (change)="checkIfAllSelected(person._id)" >
          <label for="{{ person._id }}"></label>
        </div>
        <div class="people__avatar-box" [attr.data-color]="person?.avatarColor">
          <img class="people__avatar" src="{{ person.avatar_sm }}" alt="{{ person.firstName }} {{ person.lastName }}"
               *ngIf="person.avatar_sm">
          <span class="people__initials" *ngIf="!person.avatar_sm">
            {{ person.firstName | limitTo: 1 }}{{ person.lastName | limitTo: 1 }}
          </span>
        </div>
        <div class="details">
          <div class="people__name">
            {{ person.firstName }} {{ person.lastName }}
          </div>
          <div class="row">
            <div class="col col-sm-6">
              <div class="people__extra-text">
                {{ person.email }}
              </div>
            </div>
            <div class="col show-sm col-sm-6">
              <div class="people__extra-text">
                <span *ngIf="person.country"><span *ngFor="let country of countries"><span *ngIf="country.id === person.country">{{ country.name }}</span></span></span>
                <span *ngIf="person.postcode"> {{ person.postcode }}</span>
                <span *ngIf="person.lang"><span *ngFor="let item of languages"><span *ngIf="item.id === person.lang">{{ item.name }}</span></span></span>
              </div>
            </div>
          </div>

        </div>
        <div class="people__control">
          <div class="select-style select-style_right"
               (mouseenter)="toggleClickFn($event)"
               (mouseleave)="toggleLeaveFn($event)"
               (touchend)="toggleTouchFn($event)"
          >
            <div class="select-style__title">
              <span class="select-style__text"></span>
              <span class="select-style__arrow"></span>
            </div>
            <ul class="select-style__dropdown">
              <li class="select-style__item" (click)="goToEdit(person._id)" (touchend)="goToEdit(person._id)">
                {{ local?.viewEditDetails }}
              </li>
              <li class="select-style__item" (click)="sendOneEmail(person._id)" (touchend)="sendOneEmail(person._id)">
                {{ local?.sendEmail }}
              </li>
              <li class="select-style__item select-style__item_red" (click)="deletePerson(person)"
                  (touchend)="deletePerson(person)">
                {{ local?.delete }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
</div>



