<div class="wrapper_header container container-padding">
  <div class="flex">
    <div class="flex__col text-left">
      <div *ngIf="!companyId" tabindex="1">{{ local?.newCompany }}</div>
      <div *ngIf="companyId" tabindex="1">{{ local?.editCompanyDetails }}</div>
    </div>
    <div class="flex__col text-right"></div>
  </div>
</div>

<div class="wrapper_content container container-padding container-white">

  <form novalidate (ngSubmit)="onSubmit(companyForm)" [formGroup]="companyForm" >
    <div class="row">
      <div class="col col-12 col-sm-6">
        <div class="input-group">
          <label for="name">{{ local?.companyName }}</label>
          <input
            type="text"
            tabindex="2"
            id="name"
            name="name"
            minlength="1"
            maxlength="255"
            formControlName="name"
          >
        </div>
        <div class="input-group input-group-mini-padding">
          <label for="info">{{ local?.notes }}</label>
          <div class="relative">
          <textarea
            id="info"
            name="info"
            tabindex="3"
            maxlength="4096"
            formControlName="info"
          ></textarea>
          </div>
        </div>
      </div>
    </div>

    <p *ngIf='validationError' class="text-red error bounceIn animated">{{validationError}}</p>

    <div class="text-red error bounceIn animated"
         *ngIf="(companyForm.get('name').hasError('required') || companyForm.get('name').hasError('pattern') ) &&
         (companyForm.get('name').touched)"
    >
      {{ local?.companyNameIsInvalid }}
    </div>

    <br>
    <input type="submit" tabindex="4" class="btn btn_margin-right" value="{{ local?.createCompany }}"
           *ngIf="!companyId"
           [disabled]="companyForm.invalid"
    >
    <input type="submit" tabindex="4" class="btn btn_margin-right" value="{{ local?.updateCompany }}"
           *ngIf="companyId"
           [disabled]="companyForm.invalid"
    >
    <button class="btn btn_cancel" (click)='goBack()'>{{ local?.cancel }}</button>
  </form>

</div>
