<div class="title" tabindex="1">{{ local?.resetYourPassword }}</div>

<p class="text-red error">{{validationError}}</p>
<p class="text-red error bounceIn animated"
   *ngIf='email.invalid && email.touched'>{{ local?.invalidEmailAddress }}
</p>

<form novalidate #forgotPassForm="ngForm" (ngSubmit)="onSubmit(forgotPassForm)" autocomplete="off">
  <div class="input-group">
    <label for="email">{{ local?.email }}</label>
    <input
      type="email"
      class="form-control"
      #email="ngModel"
      id="email"
      tabindex="2"
      autocomplete="off"
      ngModel
      name="email"
      required
      pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*$"
    >
  </div>
  <input type="submit" class="btn" tabindex="3"
         [value]="local?.sendPassword"
         [disabled]='forgotPassForm.invalid'>
</form>
