@media (min-width: 1200px) {
    .container {
        max-width: 1024px;
    }
}

@import "variables/variables";
@import "utils/utils";
@import "typography/typography";
@import "forms/forms";

.hero {
    background-image: url(/images/hero.jpg);
    background-size: cover;
    background-position: 50% 0;
    margin-bottom: 55px;
}

.hero__copy {
}

.hero__header {
    color: #fff;
    font-size: 38px;
    line-height: 1.2em;
    margin: 0;
}

.hero__button {
    margin: 80px 0 90px 0;
    font-size: 20px;
}

.hero__items {
    min-height: 650px;
}

.hero__phone {
    width: 300px;
    margin-bottom: -60px;
    margin-right: -14px;
}

.nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 20px;
}

.nav__items {
    margin: 14px 0 0 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.nav__item {
    display: inline-block;
    margin-left: 20px;
}

.nav__link {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    &:hover, &:focus {
        text-decoration: none;
    }
}

.round-icon {
    border-radius: 50%;
    box-shadow: 0 -2px 7px 0 rgba(218, 218, 218, 0.1), 0 9px 17px 0 rgba(218, 218, 218, 0.25);
    width: 226px;
    height: 226px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wwd__image {
    width: 100%;
}


