@media (min-width: 1200px) {
    .container {
        max-width: 1024px;
    }
}

@import "variables/variables";
@import "utils/utils";
@import "typography/typography";
@import "forms/forms";

.hero {
    background-image: url(/images/hero.jpg);
    background-size: cover;
    background-position: 50% 0;
    margin-bottom: 55px;
}

.hero__copy {
}

.hero__header {
    color: #fff;
    font-size: 38px;
    line-height: 1.2em;
    margin: 0;
}

.hero__button {
    margin: 80px 0 90px 0;
    font-size: 20px;
}

.hero__items {
    min-height: 500px;
    height: 70vh;
}

.phone {
    position: relative;
    text-align: center;
    width: 100%;
}

.phone__outline {
    position: absolute;
    top: 0;
}

.phone__outline__image {
    width: 100%;
}

.phone__inside__before {
    padding-bottom: 8%;
    width: 100%;
    background-color: #fff;
}

.phone__inside {
    text-align: center;
    padding: 7% 9% 5% 8.3%;

    &:before {
        padding-bottom: 10%;
        width: 100%;
        background-color: #fff;
        display: block;
        content: "";
    }

    &:after {
        padding-bottom: 5%;
        width: 100%;
        background-color: #fff;
        display: block;
        content: "";
    }
}

.phone__inside__image {
    width: 100%;
}

.phone--hero {
    margin-bottom: -60px;
    margin-right: -7px;
    width: 32vh;
    min-width: 250px;
    float: right;
}

.phone--hiw {
    width: 32vh;
    min-width: 250px;
    margin-left: -10px;
}

.section__header {
    margin: 60px 0;
    line-height: 1em;
}

.hiw__header {
    color: #fff;
}

.hiw__copy {
    color: #fff;
    font-size: 18px;
    margin-top: 0;
}

.section--hiw {
    padding-bottom: 60px;
}

.hiw__number {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: $color__red;
    border-radius: 50%;
    text-align: center;
    margin-right: .5em;
    line-height: 30px;
}

.phone--hiw-3 .phone__inside {
    &:after {
        background-color: #F6F6F6;
    }
}




.nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 20px;
}

.nav__items {
    margin: 14px 0 0 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.nav__item {
    display: inline-block;
    margin-left: 20px;
}

.nav__link {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    &:hover, &:focus {
        text-decoration: none;
    }
}

.round-icon {
    border-radius: 50%;
    box-shadow: 0 -2px 7px 0 rgba(218, 218, 218, 0.1), 0 9px 17px 0 rgba(218, 218, 218, 0.25);
    width: 226px;
    height: 226px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wwd__image {
    width: 100%;
}

.background--red {
    background-image: linear-gradient(-135deg, #FA384D 0%, #FA513C 100%)
}


