<div class="dialog-close" (click)="closeDialog()" (touchend)="closeDialog()">x</div>

<div *ngIf="onePerson" class="form-title">{{ local?.delete }} {{ people?.length }} {{ local?.person | lowercase}}?</div>
<div *ngIf="!onePerson" class="form-title">{{ local?.delete }} {{ people?.length }} {{ local?.people | lowercase}}?
</div>

<div class="text-red error">{{validationError}}</div>

<div class="row">
  <div class="col-6">
    <div class="btn" (click)="onDelete()" (touchend)="onDelete()">{{ local?.delete }}</div>
  </div>
  <div class="col-6">
    <div class="btn btn_cancel" (click)="closeDialog()" (touchend)="closeDialog()">{{ local?.cancel }}</div>
  </div>
</div>

