@font-face { 
  font-family: 'SFUIText';
  src: url('sfuitextlight.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face { 
  font-family: 'SFUIText';
  src: url('sfuitextlightItalic.otf');
  font-weight: 300;
  font-style: italic;
}
@font-face { 
  font-family: 'SFUIText';
  src: url('sfuitextRegular.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face { 
  font-family: 'SFUIText';
  src: url('sfuitextRegularItalic.otf');
  font-weight: 400;
  font-style: italic;
}
@font-face { 
  font-family: 'SFUIText';
  src: url('sfuitextMedium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face { 
  font-family: 'SFUIText';
  src: url('sfuitextMediumItalic.otf');
  font-weight: 500;
  font-style: italic;
}
@font-face { 
  font-family: 'SFUIText';
  src: url('sfuitextSemibold.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face { 
  font-family: 'SFUIText';
  src: url('sfuitextSemiboldItalic.otf');
  font-weight: 600;
  font-style: italic;
}
@font-face { 
  font-family: 'SFUIText';
  src: url('sfuitextBold.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face { 
  font-family: 'SFUIText';
  src: url('sfuitextBoldItalic.otf');
  font-weight: 700;
  font-style: italic;
}
@font-face { 
  font-family: 'SFUIText';
  src: url('sfuitextHeavy.otf');
  font-weight: 800;
  font-style: normal;
}
@font-face { 
  font-family: 'SFUIText';
  src: url('sfuitextHeavyItalic.otf');
  font-weight: 800;
  font-style: italic;
}
@font-face { 
  font-family: 'SFUIdisplay';
  src: url('sfuidisplayUltralight.otf');
  font-weight: 200;
  font-style: normal;
}
@font-face { 
  font-family: 'SFUIdisplay';
  src: url('sfuidisplaylight.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face { 
  font-family: 'SFUIdisplay';
  src: url('sfuidisplayRegular.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face { 
  font-family: 'SFUIdisplay';
  src: url('sfuidisplayMedium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face { 
  font-family: 'SFUIdisplay';
  src: url('sfuidisplaySemibold.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face { 
  font-family: 'SFUIdisplay';
  src: url('sfuidisplayBold.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face { 
  font-family: 'SFUIdisplay';
  src: url('sfuidisplayHeavy.otf');
  font-weight: 800;
  font-style: normal;
}