<div class="dialog-close" (click)="closeDialog()" (touchend)="closeDialog()">x</div>

<div *ngIf="usersSelected?.length > 1" class="form-title" tabindex="1">{{ local?.sendEmailTo }} {{ usersSelected?.length
  }} {{ local?.people | lowercase}}
</div>
<div *ngIf="usersSelected?.length < 2" class="form-title" tabindex="1">{{ local?.sendEmailTo }} {{ usersSelected?.length
  }} {{ local?.person | lowercase}}
</div>

<div class="text-red error">{{validationError}}</div>

<div class="text-green error">{{validationDone}}</div>

<form novalidate #sendTest="ngForm" autocomplete="off">
  <div class="input-group input-group_btn">
    <label for="email">{{ local?.sendTestEmailTo }}</label>
    <div class="relative">
      <input
        type="email"
        ngModel
        id="email"
        name="email"
        required
        autocomplete="off"
        pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*$"
      >
      <input type="submit"
             class="btn"
             value="{{ local?.send }}"
             (click)="sendTestMail(sendTest)"
             (touchend)="sendTestMail(sendTest)"
             [disabled]="sendTest.invalid"
      >
    </div>
  </div>
</form>



<div *ngIf="usersSelected?.length > 1" class="btn btn_inline btn_margin-right" (click)="onSendEmail()" (touchend)="onSendEmail()">{{
  local?.email }} {{ usersSelected?.length }} {{ local?.people | lowercase}}
</div>
<div *ngIf="usersSelected?.length < 2" class="btn btn_inline btn_margin-right" (click)="onSendEmail()" (touchend)="onSendEmail()">{{
  local?.email }} {{ usersSelected?.length }} {{ local?.person | lowercase}}
</div>

<div class="btn btn_cancel btn_center btn_inline" (click)="closeDialog()" (touchend)="closeDialog()">{{ local?.cancel }}</div>

