{% set homepage = {
    title: "Mobile video & messaging technology for teams to practice, coach & share best practice.",
    what: "Integrate learning with practice.\nEmpower managers to coach.\nShare great performance.",
    how: {
        title: "How it works?",
        one: "Create & share scenarios",
        two: "Practice, record & submit",
        three: "Review feedback & share"
    },
    features: {
        title: "Features",
        items: [
            {
                svg: 'coaching_criteria.svg',
                title: 'Coaching criteria',
                copy: 'Define criteria to measure desired observable behaviour.'
            },
            {
                svg: 'reporting.svg',
                title: 'Reporting',
                copy: 'Measure and manage your team\'s performance, coaching and training needs.'
            },
            {
                svg: 'enterprise.svg',
                title: 'Enterprise ready',
                copy: 'Mirror geographical and functional structures. Integrate performance & participation metrics with your LMS & CRM.'
            },
            {
                svg: 'social_learning.svg',
                title: 'Social learning',
                copy: '"Everyone is the student, and everyone is the teacher." Share good practice among team members.'
            },
            {
                svg: 'native_functionality.svg',
                title: 'Secure ease of use',
                copy: 'Secure & Intuitive interface for teams to create practice and share scenarios.'
            }
        ]
    },
    about_us: {
        title: "About Us",
        items: [
            {
                name: "Arthur Choukroun",
                email: "arthur@mobilepractice.io",
                title: "Co-founder",
                copy: "15 years in purchasing, sales & training, CEO of Skillsday: E-learning.",
                image: "/images/png/arthur-choukroun.png"
            },
            {
                name: "Ben Eddy",
                email: "ben@mobilepractice.io",
                title: "Co-founder",
                copy: "20 years sales, consulting & training in Enterprise Organisations.",
                image: "/images/png/ben-eddy.png"
            },
            {
                name: "Tama Pugsley",
                email: "tama@mobilepractice.io",
                title: "CTO",
                copy: "Over 25 years experience working in the web and app industry.",
                image: "/images/png/tama-pugsley.png"
            }
        ]
    }
} %}

{% set button = {
    book: "Book a demo",
    watch: "Watch video"
} %}

{% set nav = {
    how: "How it works",
    features: "Features",
    about: "About us",
    contact: "Contact",
    privacy: "Privacy policy",
    help: "Help center",
    rights: "All rights reserved"
} %}
