{% set homepage = {
    title: "Mobile technology for teams to practice, share and coach each other, anytime, anywhere.",
    what: "Easily integrate personal & professional development into everyday business life.",
    how: {
        title: "How it works?",
        one: "Create & share scenarios",
        two: "Practice, record & submit",
        three: "Review feedback & share"
    },
    features: {
        title: "Features",
        items: [
            {
                svg: 'coaching_criteria.svg',
                title: 'Coaching criteria',
                copy: 'Define criteria that reflect the desired observable performance from your team.'
            },
            {
                svg: 'reporting.svg',
                title: 'Reporting',
                copy: 'Measure and manage your team and team members performance, coaching and training needs.'
            },
            {
                svg: 'encourage_coaching_culture.svg',
                title: 'Encourage coaching culture',
                copy: 'Intuitive interface to create practice scenarios and share with team members.'
            },
            {
                svg: 'multi_language_support.svg',
                title: 'Multi-language support',
                copy: 'For fast and economic international deployments.'
            },
            {
                svg: 'enterprise.svg',
                title: 'Enterprise ready',
                copy: 'Mirror structure geographically and functionally. Data metrics for performance & participation to complement LMS & CRM.'
            },
            {
                svg: 'social_learning.svg',
                title: 'Social learning',
                copy: 'Share best practice among team members, where everyone is the student, and everyone is the teacher.'
            },
            {
                svg: 'offline.svg',
                title: 'Accessibility & convenience',
                copy: 'Practice, record, review and coach offline.'
            },
            {
                svg: 'native_functionality.svg',
                title: 'Native functionality with secure access',
                copy: 'To ensure unrivalled user experience.'
            },
            {
                svg: 'integration.svg',
                title: 'Integration',
                copy: 'Integration with your LMS and CRM systems to provide greater cross analysis.'
            }
        ]
    },
    about_us: {
        title: "About Us",
        items: [
            {
                name: "Arthur Choukroun",
                email: "arthur@mobilepractice.io",
                title: "Co-founder",
                copy: "15 years in purchasing, sales & training, CEO of Skillsday: E-learning.",
                image: "/images/png/arthur-choukroun.png"
            },
            {
                name: "Ben Eddy",
                email: "ben@mobilepractice.io",
                title: "Co-founder",
                copy: "20 years sales, consulting & training in Enterprise Organisations.",
                image: "/images/png/ben-eddy.png"
            },
            {
                name: "Tama Pugsley",
                email: "tama@mobilepractice.io",
                title: "CTO",
                copy: "Over 25 years experience working in the web and app industry.",
                image: "/images/png/tama-pugsley.png"
            }
        ]
    }
} %}

{% set button = {
    book: "Book a demo",
    watch: "Watch video"
} %}

{% set nav = {
    how: "How it works",
    features: "Features",
    about: "About us",
    contact: "Contact",
    privacy: "Privacy policy",
    help: "Help center",
    rights: "All rights reserved"
} %}
