{% set homepage = {
    title: "La technologie mobile qui intègre le développement personnel et professionnel dans votre environnement de travail.",
    what: "Combinez apprentissage et pratique régulière.\nSoyez plus qu’un manager, devenez coach.\nPartagez vos Best practices.",
    how: {
        title: "Comment ça marche ?",
        one: "Créer et partager des scénarios",
        two: "Pratiquer, enregistrer et soumettre",
        three: "Revoir, coacher et partager"
    },
    features: {
        title: "Caractéristiques",
        items: [
            {
                svg: 'coaching_criteria.svg',
                title: 'Critères du Coaching',
                copy: 'Définissez les critères observables reflétant le mieux les performances de vos équipes.'
            },
            {
                svg: 'reporting.svg',
                title: 'Reporting',
                copy: 'Mesurer et gérer les performances des membres de vos équipes, les besoins en matière de coaching et de formation.'
            },
            {
                svg: 'enterprise.svg',
                title: 'Entreprise prête',
                copy: 'Miroir géographique et fonctionnelle. Mesure des données de performance et de participation en complément au LMS et CRM.'
            },
            {
                svg: 'social_learning.svg',
                title: 'Apprentissage social',
                copy: 'Partager les meilleurs pratiques entre les membres de l’équipes, tout le monde est élève , tout le monde est enseignant.'
            },
            {
                svg: 'native_functionality.svg',
                title: 'Intuitive et sécurisée',
                copy: 'Interface intuitive et sécurisée afin de permettre aux équipes de créer, s\'entraîner et partager des scénarios.'
            }
        ]
    },
    about_us: {
        title: "À propos de nous",
        items: [
            {
                name: "Arthur Choukroun",
                email: "arthur@mobilepractice.io",
                title: "Co-fondateur",
                copy: "15 ans d’expérience dans les achats, les ventes et la formation. CEO de SkillsDay : E-Learning.",
                image: "/images/png/arthur-choukroun.png"
            },
            {
                name: "Ben Eddy",
                email: "ben@mobilepractice.io",
                title: "Co-fondateur",
                copy: "20 ans d’expérience dans la vente, le conseil et la formation dans les organisations d’entreprise.",
                image: "/images/png/ben-eddy.png"
            },
            {
                name: "Tama Pugsley",
                email: "tama@mobilepractice.io",
                title: "CTO",
                copy: "Plus de 25 ans d’expérience dans l’industrie du web et des applications mobiles.",
                image: "/images/png/tama-pugsley.png"
            }
        ]
    }
} %}

{% set button = {
    book: "Reservez une demo",
    watch: "Regardez Vidéo"
} %}

{% set nav = {
    how: "Comment ça marche ?",
    features: "Caractéristiques",
    about: "À propos de nous",
    contact: "Contact",
    privacy: "Politique de confidentialité",
    help: "Centre d'aide",
    rights: "Tous droits réservés",
    blog: "Blog"
} %}
