{% set homepage = {
    title: "La technologie mobile qui intègre le développement personnel et professionnel dans votre environnement de travail.",
    what: "Combinez apprentissage et pratique régulière.\nSoyez plus qu’un manager, devenez coach.\nPartagez vos Best practices.",
    how: {
        title: "Comment ça marche ?",
        one: "Créer et partager des scénarios",
        two: "Pratiquer, enregistrer et soumettre",
        three: "Revoir, coacher et partager"
    },
    features: {
        title: "Caractéristiques",
        items: [
            {
                svg: 'social_learning.svg',
                title: 'Social learning',
                copy: 'Partager les meilleures pratiques entre les membres de l’équipes. "Everyone is the learner, and everyone is the coach".'
            },
            {
                svg: 'coaching_criteria.svg',
                title: 'Critères de Coaching',
                copy: 'Définissez les critères observables reflétant au mieux les performances de vos équipes.'
            },
            {
                svg: 'reporting.svg',
                title: 'Reporting',
                copy: 'Mesurer et piloter la performance des équipes et les besoins en matière de coaching et de formation.'
            },
            {
                svg: 'enterprise.svg',
                title: 'Intégration',
                copy: 'L’outil réplique la structure géographique et fonctionnelle de l’entreprise. Les données sont intégrées avec les LMS et CRM.'
            },
            {
                svg: 'native_functionality.svg',
                title: 'Interface intuitive & sécurisée',
                copy: 'Créer des scénarios, s\'entraîner et partager des vidéos de manière intuitive en toute sécurité.'
            }
        ]
    },
    testimonial: {
        quote: '"Mobile Practice permet aux apprenants de s’entrainer sur le lieu d’entrainement sportif, au lieu de se déplacer à l’université. Je crée et partage facilement les scenarii d’entrainements avec les élevés et je peux suivre et coacher chacun d’entre eux. Grace a ce suivi personnalisé, ils sont mieux préparés à l’évaluation de fin d’année."',
        name: '— Stephanie Vallet, Conseillère formations e-learning.',
        company: 'Centre d’Études des Sportifs Nationaux et Internationaux (CESNI, Université INSEEC)'
    },
    about_us: {
        title: "À propos de nous",
        items: [
            {
                name: "Arthur Choukroun",
                email: "arthur@mobilepractice.io",
                title: "Co-fondateur",
                copy: "15 ans d’expérience dans les achats, les ventes et la formation. CEO de SkillsDay : E-Learning.",
                image: "/images/png/arthur-choukroun.png"
            },
            {
                name: "Ben Eddy",
                email: "ben@mobilepractice.io",
                title: "Co-fondateur",
                copy: "20 ans d’expérience dans la vente, le conseil et la formation dans les organisations d’entreprise.",
                image: "/images/png/ben-eddy.png"
            },
            {
                name: "Tama Pugsley",
                email: "tama@mobilepractice.io",
                title: "CTO",
                copy: "Plus de 25 ans d’expérience dans l’industrie du web et des applications mobiles.",
                image: "/images/png/tama-pugsley.png"
            }
        ]
    }
} %}

{% set button = {
    book: "Reservez une demo",
    watch: "Voir la vidéo"
} %}

{% set nav = {
    how: "Comment ça marche ?",
    features: "Caractéristiques",
    about: "À propos de nous",
    contact: "Contact",
    privacy: "Politique de confidentialité",
    help: "Centre d'aide",
    rights: "Tous droits réservés",
    blog: "Blog"
} %}
