{% extends "./templates/template.html" %}
{% set _title = "Welcome" %}
{% set _body = "home" %}
{% set _lang = "fr" %}
{% set _video_id = "TM51uR7d854" %}

{% block main %}

<section class="hero">
    <div class="container">
        <div class="row hero__items">
            <div class="hero__copy col-sm-8 col-xs-12">
                <h1 class="hero__header">Mobile technology for teams to practice, share and coach each other, anytime,
                    anywhere.</h1>
                <a href="mailto:contact@mobilepractice.io" class="btn hero__button">Book a demo</a>
            </div>
            <div class="hero__phone col-sm-4 col-xs-12">
                <div class="phone phone--hero">
                    <div class="phone__inside">
                        <img class="phone__inside__image" src="/images/phone-inside-hero.png">
                    </div>
                    <div class="phone__outline">
                        <img class="phone__outline__image" src="/images/phone-outline.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--what">
    <div id="what-we-do" class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 u-text-center">
                <p class="what__copy">Easily integrate personal & professional development into everyday business life.</p>
            </div>
        </div>
    </div>
</section>

<section id="how-it-works" class="background--red section--hiw">
    <div class="container">
        <div class="row">
            <h2 class="u-text-center section__header section__header--white hiw__header">How it works?</h2>
            <div class="hiw__items">
                <div class="col-sm-4 col-xs-12 hiw__item">
                    <p class="hiw__copy"><span class="hiw__number">1</span>Create & share scenarios</p>
                    <div class="hiw__figure">
                        <div class="phone phone--hiw phone--hiw--1">
                            <div class="phone__inside">
                                <img class="phone__inside__image" src="/images/phone-inside-hiw-1.png">
                            </div>
                            <div class="phone__outline">
                                <img class="phone__outline__image" src="/images/phone-outline.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 hiw__item">
                    <p class="hiw__copy"><span class="hiw__number">2</span>Practice, record & submit</p>
                    <div class="hiw__figure">
                        <div class="phone phone--hiw">
                            <div class="phone__inside">
                                <img class="phone__inside__image" src="/images/phone-inside-hero.png">
                            </div>
                            <div class="phone__outline">
                                <img class="phone__outline__image" src="/images/phone-outline.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 hiw__item">
                    <p class="hiw__copy"><span class="hiw__number">3</span>Review feedback & share</p>
                    <div class="hiw__figure">
                        <div class="phone phone--hiw phone--hiw-3">
                            <div class="phone__inside">
                                <img class="phone__inside__image" src="/images/phone-inside-hiw-3.png">
                            </div>
                            <div class="phone__outline">
                                <img class="phone__outline__image" src="/images/phone-outline.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% set _features = [
    {
        svg: 'coaching_criteria.svg',
        title: 'Coaching criteria',
        copy: 'Define criteria that reflect the desired observable performance from your team.'
    },
    {
        svg: 'reporting.svg',
        title: 'Reporting',
        copy: 'Measure and manage your team and team members performance, coaching and training needs.'
    },
    {
        svg: 'encourage_coaching_culture.svg',
        title: 'Encourage coaching culture',
        copy: 'Intuitive interface to create practice scenarios and share with team members.'
    },
    {
        svg: 'multi_language_support.svg',
        title: 'Multi-language support',
        copy: 'For fast and economic international deployments.'
    },
    {
        svg: 'enterprise.svg',
        title: 'Enterprise ready',
        copy: 'Mirror structure geographically and functionally. Data metrics for performance & participation to complement LMS & CRM.'
    },
    {
        svg: 'social_learning.svg',
        title: 'Social learning',
        copy: 'Share best practice among team members, where everyone is the student, and everyone is the teacher.'
    },
    {
        svg: 'offline.svg',
        title: 'Accessibility & convenience',
        copy: 'Practice, record, review and coach offline.'
    },
    {
        svg: 'native_functionality.svg',
        title: 'Native functionality with secure access',
        copy: 'To ensure unrivalled user experience.'
    },
    {
        svg: 'integration.svg',
        title: 'Integration',
        copy: 'Integration with your LMS and CRM systems to provide greater cross analysis.'
    }

] %}
<section id="features">
    <div class="container">
        <div class="row">
            <h2 class="u-text-center section__header features__header">Features</h2>
            <div class="feature__items">
                {% for _feature in _features %}
                <div class="col-sm-4 col-xs-6">
                    <div class="feature__item o-box">
                        <img src="/images/svg/{{ _feature.svg }}" alt="img" class="feature__image">
                        <h3 class="feature__title">{{ _feature.title }}</h3>
                        <p class="feature__copy">{{ _feature.copy }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% set _us = [
    {
        name: "Arthur Choukroun",
        email: "arthur@mobilepractice.io",
        title: "Co-founder",
        copy: "15 years in purchasing, sales & training, CEO of Skillsday: E-learning.",
        image: "/images/png/arthur-choukroun.png"
    },
    {
        name: "Ben Eddy",
        email: "ben@mobilepractice.io",
        title: "Co-founder",
        copy: "20 years sales, consulting & training in Enterprise Organisations.",
        image: "/images/png/ben-eddy.png"
    },
    {
        name: "Tama Pugsley",
        email: "tama@mobilepractice.io",
        title: "CTO",
        copy: "Over 25 year experience working in the web and app industry.",
        image: "/images/png/tama-pugsley.png"
    }

] %}

<section id="about" class="section--about background--grey">
    <div class="container">
        <div class="row">
            <h2 class="u-text-center section__header about__header">About Us</h2>
            <div class="about__items">
                {% for _person in _us %}
                <div class="col-sm-4">
                    <div class="about__item o-box">
                        <img src="{{ _person.image }}" alt="{{ _person.name }}" class="about__image">
                        <div class="about__text">
                            <h3 class="about__name"><a href="mailto:{{ _person.email }}">{{ _person.name }}</a></h3>
                            <h4 class="about__title">{{ _person.title }}</h4>
                            <p class="about__copy">{{ _person.copy }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}