{% extends "./templates/template-bootstrap.html" %}
{% set _title = "Charte de Données Personnelles" %}
{% set _body = "content" %}
{% set _header_class = "header--grey" %}
{% set _lang = "fr" %}

{% block main %}
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 content__copy">
                <h1>Charte de Données Personnelles</h1>

                <p><em>Dernière mise à jour : le 23 octobre 2017</em></p>

                <p>La charte ci-dessous détaille la politique de MOBILE PRACTICE (ci-après « la Société ») en matière de
                    protection des données personnelles sur l’application MOBILE PRACTICE (ci-après
                    l’"Application").</p>
                <p>La Société respecte vos préoccupations concernant la confidentialité des renseignements et
                    informations
                    personnels que vous nous fournissez. En nous communiquant vos renseignements et données personnels,
                    vous
                    consentez à ce qu’ils soient utilisés et communiqués dans les conditions définies ci-dessous :</p>

                <h2>1. Informations générales</h2>

                <p>Par l’intermédiaire de l’Application, la Société peut être amenée à collecter des données
                    personnelles
                    communiquées notamment dans le cadre de l’accès à et l’utilisation de l’Application (par exemple
                    nom,
                    prénom et adresse(s) e-mail).</p>
                <p>Toute information personnelle que vous serez amené à transmettre à la Société pour l’utilisation de
                    l’Application est soumise aux dispositions de la loi n° 78-17 Informatique et Libertés du 6 janvier
                    1978.</p>

                <h2>2. Droit d’accès, de rectification, de suppression et d’opposition</h2>
                <p>Vous disposez à tout moment d'un droit d'accès, de rectification, et de suppression des informations
                    personnelles vous concernant, et de la possibilité de vous opposer au traitement de ces données en
                    adressant un courrier à l'adresse suivante MOBILE PRACTICE SAS, 4 route des Côtes 74290 Menthon
                    Saint
                    Bernard, France ou un e-mail à <a
                            href="mailto:contact@mobilepractice.io">contact@mobilepractice.io</a>.
                </p>
                <p>Vous pouvez également, le cas échéant, utiliser les liens de désabonnement insérés dans nos messages
                    adressés par e-mail.</p>

                <h2>3. Gestion des données personnelles</h2>

                <h3>3.1 Finalités de la collecte des données</h3>
                <p>Au travers de l’Application, la Société collecte les données vous concernant uniquement pour les
                    finalités définies ci-dessous :</p>
                <ul>
                    <li>statistiques, études et analyses des réponses,</li>
                    <li>perfectionnement de l’Application.</li>
                </ul>
                <p>Les données dont la collecte est rendue obligatoire pour les traitements susvisés sont mentionnées
                    par un
                    astérisque sur les formulaires de collecte. Si vous ne renseignez pas ces champs obligatoires, la
                    Société ne pourra répondre à vos demandes et fournir les services demandés.</p>

                <h3>3.2 Conservation des données</h3>
                <p>Les données sont conservées pendant toute la durée nécessaire aux finalités pour lesquelles elles ont
                    été
                    collectées et sont, en tout état de cause, détruites à l’issue de celle-ci.</p>

                <h3>3.3 Destinataires des données</h3>
                <p>La Société est destinataire des données pour les utilisateurs de l’Application du monde entier.</p>
                <p>La Société ne transmet vos données personnelles à un tiers que lorsque :</p>

                <ul>
                    <li>vous avez donné votre accord préalable au partage desdites informations avec des tiers ; et/ou
                    </li>
                    <li>la Société est sommée par une autorité judiciaire ou toute autre autorité administrative
                        compétente
                        de lui communiquer lesdites informations.
                    </li>
                </ul>

                <h3>3.4 Sécurité et confidentialité des données</h3>

                <p>La Société s’efforce de mettre en place toutes précautions utiles pour préserver la confidentialité
                    et la
                    sécurité des données personnelles collectées et traitées et empêcher qu’elles ne soient déformées,
                    endommagées, détruites ou que des tiers non autorisés y aient accès.</p>
                <p>Cependant, la Société ne maîtrise pas tous les risques liés au fonctionnement d'Internet et attire
                    l'attention des utilisateurs de l’Application sur l'existence d'éventuels risques inhérents à son
                    utilisation et à son fonctionnement.</p>

                <h2>4. Modification de notre charte de données personnelles</h2>

                <p>La Société peut être amenée à modifier la présente charte. Nous veillerons à ce que vous soyez
                    informés de ces modifications par une mention spéciale sur l’Application ou par d’autres moyens.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}


