<div class="dialog-close" (click)="closeDialog()" (touchend)="closeDialog()">x</div>

<div class="form-title" tabindex="1">{{ local?.updatePassword }}</div>

<p class="text-red error">{{validationError}}</p>

<p class="text-red error bounceIn animated"
   *ngIf='oldPasswordRef.invalid && oldPasswordRef.touched || newPasswordRef.invalid && newPasswordRef.touched'>
  {{ local?.passwordPattern }}</p>

<form novalidate #userPassword="ngForm" autocomplete="off">
  <div class="input-group">
    <label>{{ local?.oldPassword }}</label>
    <div class="relative">
      <div class="hide" (click)="onPasswordType()">{{ labelPassword }}</div>
      <input
        [type]="passwordType"
        ngModel
        tabindex="2"
        name="oldPassword"
        #oldPasswordRef="ngModel"
        autocomplete="off"
        minlength="6"
        maxlength="64"
        required
      >
    </div>
  </div>
  <div class="input-group">
    <label>{{ local?.newPassword }}</label>
    <div class="relative">
      <div class="hide" (click)="onPasswordType()">{{ labelPassword }}</div>
      <input
        [type]="passwordType"
        ngModel
        tabindex="2"
        name="newPassword"
        #newPasswordRef="ngModel"
        autocomplete="off"
        minlength="6"
        maxlength="64"
        required
      >
    </div>
  </div>
  <input type="submit" tabindex="4" class="btn btn_margin-right" value="{{ local?.savePassword }}"
         [disabled]="userPassword.invalid"
         (click)="onSubmit(userPassword)"
         (touchend)="onSubmit(userPassword)"
  >
  <button class="btn btn_cancel" (click)='closeDialog()' (touchend)="closeDialog()">{{ local?.cancel }}</button>
</form>
