<div class="dialog-close" (click)="closeDialog()" (touchend)="closeDialog()">x</div>

<div class="form-title">{{ local?.delete_company }}</div>

<p>{{ local?.you_want_to_remove }} {{company?.name}} {{ local?.company }}?</p>

<br>
<br>

<div class="row">
  <div class="col-6">
    <div class="btn" (click)="deleteCompany()" (touchend)="deleteCompany()">{{ local?.delete }}</div>
  </div>
  <div class="col-6">
    <div class="btn btn_cancel" (click)="closeDialog()" (touchend)="closeDialog()">{{ local?.cancel }}</div>
  </div>
</div>
