<div class="spinning-preloader-container" *ngIf="loaded">
  <div class="spinning-preloader-elements"></div>
</div>

<div class="header container container-padding" *ngIf="isActive">
  <div class="header__side header__side_left">
    <div class="noSelect" *ngIf="!companies?.length">
      <div class="header__add-company" (click)="createCompany()" (touchend)="createCompany()">{{ local?.newCompany }}</div>
    </div>
    <div class="select-style select-style_left"
         *ngIf="companies.length"
         (mouseenter)="toggleClickFn($event)"
         (mouseleave)="toggleLeaveFn($event)"
         (touchend)="toggleTouchFn($event)"
    >
      <div class="select-style__title">
        <span [attr.data-balloon]="company?.name" [attr.data-balloon-pos]="'right'">
          <span class="select-style__text select-style__text_bold">{{ company?.name }}</span>
          <span class="select-style__arrow"></span>
        </span>
      </div>
      <div class="select-style__dropdown">
        <div class="select-style__item" (click)="editCompany()" (touchend)="editCompany()">{{ local?.viewEditDetails }}</div>
        <div class="select-style__item select-style__item_red"
             *ngIf="isAdmin"
             (click)="onDeleteCompany()"
             (touchend)="onDeleteCompany()"
        >
          {{ local?.delete }} {{company?.name }}
        </div>
        <div class="select-style__group" *ngIf="isAdmin">
          <div class="select-style__group-title">{{ local?.companies }}</div>
          <div class="select-style__item"
               (click)="findSelectCompany(item)"
               (touchend)="findSelectCompany(item)"
               *ngFor="let item of companies"
               [ngClass]="{'select-style__item_active': company._id === item?._id}">
            {{item.name}}
          </div>
        </div>
        <div class="select-style__item"
             *ngIf="isAdmin"
             (click)="createCompany()"
             (touchend)="createCompany()"
        >
          {{ local?.newCompany }}
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="menu__item" routerLink="/company/{{ company?._id }}/people/list"
           routerLinkActive="menu__item_active">{{ local?.people }}
      </div>
      <div class="menu__item" routerLink="/company/{{ company?._id }}/reporting"
           routerLinkActive="menu__item_active">{{ local?.reporting }}
      </div>
    </div>
  </div>
  <div class="header__side header__side_right">
    <div class="select-style select-style_right"
         (mouseenter)="toggleClickFn($event)"
         (mouseleave)="toggleLeaveFn($event)"
         (touchend)="toggleTouchFn($event)"
    >
      <div class="select-style__title">
        <span class="select-style__text">{{ userData?.firstName }}</span>
        <span class="select-style__arrow"></span>
      </div>
      <ul class="select-style__dropdown">
        <li class="select-style__item"
            (click)="changeLanguage('fr')"
            (touchend)="changeLanguage('fr')"
            [ngClass]="{'select-style__item_active':  currentLanguage === 'fr'}"
        >Français</li>
        <li class="select-style__item"
            (click)="changeLanguage('en')"
            (touchend)="changeLanguage('en')"
            [ngClass]="{'select-style__item_active':  currentLanguage === 'en'}"
        >English</li>
        <li class="select-style__item" (click)="editPassword()" (touchend)="editPassword()">{{ local?.changePassword }}</li>
        <li class="select-style__item" (click)="onLogOut()" (touchend)="onLogOut()">{{ local?.loginOut }}</li>
      </ul>
    </div>
  </div>
</div>
