<div class="wrapper_header container container-padding" xmlns="http://www.w3.org/1999/html">
  <div class="flex">
    <div class="flex__col text-left">
      <span class="title" *ngIf="!uid">{{ local?.addNewPerson }}</span>
      <span class="title" *ngIf="uid">{{ local?.edit }} {{ person.get('firstName').value }}’s {{ local?.details | lowercase }} </span>
    </div>
  </div>
</div>

<div class="wrapper_content container container-padding container-white">
  <form novalidate (ngSubmit)="onSubmit(person)" [formGroup]="person">
    <div class="row">
      <div class="col-6 col-sm-3">
        <div class="input-group">
          <label>
            <span>{{ local?.firstName }}*</span>
          </label>
          <input type="text" formControlName="firstName" maxlength="30">
          <div class="error" *ngIf="person.get('firstName').hasError('required') && person.get('firstName').touched">
            {{ local?.firstName }} {{ local?.isRequired }}
          </div>
          <div class="error" *ngIf="person.get('firstName').hasError('maxlength') && person.get('firstName').touched">
            {{ local?.isMustMoreCharacters }}
          </div>
          <div class="error" *ngIf="person.get('firstName').hasError('pattern') && person.get('firstName').touched">
            {{ local?.isPattern }}: _ - . ` ' &
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3">
        <div class="input-group">
          <label>
            <span>{{ local?.lastName }}* </span>
          </label>
          <input type="text" formControlName="lastName" maxlength="30">
          <div class="error" *ngIf="person.get('lastName').hasError('required') && person.get('lastName').touched">
            {{ local?.lastName }} {{ local?.isRequired }}
          </div>
          <div class="error" *ngIf="person.get('lastName').hasError('maxlength') && person.get('lastName').touched">
            {{ local?.isMustMoreCharacters }}
          </div>
          <div class="error" *ngIf="person.get('lastName').hasError('pattern') && person.get('lastName').touched">
            {{ local?.isPattern }}: _ - . ` ' &
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="input-group">
          <label>{{ local?.email }}*</label>
          <input type="email" formControlName="email">
          <div class="error"
               *ngIf="person.get('email').hasError('email') &&
               person.get('email').touched &&
               person.get('email').hasError('pattern') === false"
          >
            {{ local?.email }} {{ local?.isRequired }}
          </div>
          <div class="error" *ngIf="person.get('email').hasError('pattern') && person.get('email').touched">
            {{ local?.email }} {{ local?.isInvalid }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-3">
        <div class="input-group">
          <label>{{ local?.country }}*</label>
          <div class="select-wrapper">
            <select name="country" formControlName="country">
              <option value="">{{ local?.selectCountry }}</option>
              <option *ngFor="let item of countries" value="{{ item?.id }}">{{ item?.name }}</option>
            </select>
          </div>
          <div class="error" *ngIf="person.get('country').hasError('required') && person.get('country').touched">
            {{ local?.country }} {{ local?.isRequired }}
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3">
        <div class="input-group">
          <label>{{ local?.postcode }}*</label>
          <input type="text" formControlName="postcode" maxlength="30">
          <div class="error" *ngIf="person.get('postcode').hasError('required') && person.get('postcode').touched">
            {{ local?.postcode }} {{ local?.isRequired }}
          </div>
          <div class="error" *ngIf="person.get('postcode').hasError('maxlength') && person.get('postcode').touched">
            {{ local?.isMustMoreCharacters }}
          </div>
          <div class="error" *ngIf="person.get('postcode').hasError('pattern') && person.get('postcode').touched">
            {{ local?.isPattern }}: - .
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="input-group">
          <label>{{ local?.language }}*</label>
          <div class="select-wrapper">
            <select name="lang" formControlName="lang">
              <option *ngFor="let lang of languages" value="{{ lang?.id }}">{{ lang?.name }}</option>
            </select>
          </div>
          <div class="error" *ngIf="person.get('lang').hasError('required') && person.get('lang').touched">
            {{ local?.language }} {{ local?.isRequired }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-6">
        <div class="checkbox-group input-group">
          <input
            id="isCompanyAdmin" name="isCompanyAdmin" class="people__header-checkbox" formControlName="isCompanyAdmin"
            type="checkbox" (change)="onChangeIsCompanyAdmin($event)"
          >
          <label for="isCompanyAdmin">{{ local?.isCompanyAdmin }}</label>
        </div>
      </div>
      <div class="col-6 col-sm-6" *ngIf="person.get('isCompanyAdmin').value">
        <div class="input-group">
          <label>{{ local?.adminPassword }}*</label>
          <div class="relative">
            <div class="hide" (click)="onPasswordType()">{{ labelPassword }}</div>
            <input [type]="passwordType" formControlName="password" name="password" maxlength="64">
          </div>
          <div class="error" *ngIf="person.get('password').hasError('minlength') && person.get('password').touched">
            {{ local?.passwordPattern }}
          </div>
        </div>
      </div>
    </div>
    <div formArrayName="extraInformation" class="extra-information">
      <div class="extra-information__title">
        <span>{{ local?.extraInformation }}</span>
      </div>
      <div *ngFor="let row of person.get('extraInformation').value; let i=index; trackBy: trackByFn">
        <div class="row">
          <div class="col-12">
            <div class="extra-information__title">
            </div>
          </div>
        </div>
        <div class="row" [formGroupName]="i">
          <div class="col-6 col-sm-6 title ">
            <div class="input-group col-12 col-sm-6 ">
              <div>{{row.title}}</div>
            </div>
          </div>
          <div class="col-6 col-sm-6 pull-sm-1">
            <div class="input-group">
              <label>{{ local?.description }}</label>
              <input type="text" formControlName="description" maxlength="30">
            </div>
          </div>
        </div>
      </div>
      <!--<div *ngFor="let row of person.get('extraInformation').value; let i=index; trackBy: trackByFn">-->
        <!--<span *ngIf="false">{{ row }}</span>-->
        <!--<div class="row">-->
          <!--<div class="col-10">-->
            <!--<div class="extra-information__title">-->
              <!--{{ local?.extraInformation }} <span *ngIf="i !== 0">{{i + 1}}</span>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-2 text-right relative">-->
            <!--<span class="dialog-close" *ngIf="person.controls.extraInformation.controls.length > 1"-->
                  <!--(click)="removeExtraInformation(i)"-->
                  <!--(touchend)="removeExtraInformation(i)"-->
            <!--&gt;x</span>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row" [formGroupName]="i">-->
          <!--<div class="col-6 col-sm-6">-->
            <!--<div class="input-group">-->
              <!--<label>{{ local?.title }}</label>-->
              <!--<input type="text" formControlName="title" maxlength="30">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-6 col-sm-6">-->
            <!--<div class="input-group">-->
              <!--<label>{{ local?.description }}</label>-->
              <!--<input type="text" formControlName="description" maxlength="30">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-12">-->
          <!--<span class="link" (click)="addExtraInformation()" (touchend)="addExtraInformation()">-->
            <!--{{ local?.addMore }}-->
          <!--</span>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <br>
    <div class="text-red error">{{validationError}}</div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="input-group">
          <button *ngIf="!uid" type="submit" class="btn btn_margin-right"
                  [disabled]="person.invalid">{{ local?.addPerson }}
          </button>
          <button *ngIf="uid" type="submit" class="btn btn_margin-right"
                  [disabled]="person.invalid">{{ local?.saveChange }}
          </button>
          <button class="btn btn_cancel" (click)='goBack()'>{{ local?.cancel }}</button>
        </div>
      </div>
    </div>
  </form>
</div>


