<div class="title" tabindex="1">{{ local?.chooseNewPassword }}</div>

<p class="text-red error bounceIn animated" *ngIf='newPassword.invalid && newPassword.touched'>
  {{ local?.passwordPattern }}
</p>

<p class="text-red error">{{validationError}}</p>

<form novalidate #newPassForm="ngForm" (ngSubmit)="onSubmit(newPassForm)" autocomplete="off">

  <div class="input-group">
    <label for="password">{{ local?.password }}</label>
    <div class="relative">
      <div class="hide" (click)="onPasswordType()">{{ labelPassword }}</div>
      <input
        [type]="passwordType"
        ngModel
        tabindex="2"
        id="password"
        name="password"
        #newPassword="ngModel"
        minlength="6"
        maxlength="64"
        required
      >
    </div>
  </div>
  <input type="submit" class="btn" value="{{ local?.saveNewPassword }}" tabindex="3" [disabled]='newPassForm.invalid'>
</form>



