<div class="spinning-preloader-container" *ngIf="loaded">
  <div class="spinning-preloader-elements"></div>
</div>
<div class="wrapper_header container container-padding">
  <div class="flex">
    <div class="flex__col text-left">{{ local?.reporting }}</div>
    <div class="flex__col text-right">
      <span class="link-header" (click)="exportCsvFile()">{{ local?.exportCsv }}</span>
    </div>
  </div>
</div>
<div class="wrapper_content container container-padding container-white">
  <img src="/assets/reporting.png" alt="reporting" width="100%">
</div>
