{% extends "./templates/template.html" %}
{% set _title = "Personal data policy" %}
{% set _body = "content" %}
{% set _header_class = "header--grey" %}

{% block main %}
<div class="container">




    <div class="content">
        <h1>Personal data policy</h1>

        <p><em>Last updated: October 23rd June 2017</em></p>

        <p>The policy below details the data protection policy of MOBILE PRACTICE SAS (the "Company") with regard to
            personal data provided on the mobile application MOBILE PRACTICE (the "App").</p>
        <p>The Company respects your concerns regarding the confidentiality of personal information and data
            provided by
            you. By providing your personal information and data, you consent to the use, analysis and, where
            applicable,
            disclosure of such information under the terms and conditions outlined below.</p>

        <h2>1. General Information</h2>
        <p>The Company may collect personal data via the App from users in relation notably with access to and use
            of the
            App (e.g. last & first name and e-mail addresses).</p>
        <p>Any personal data you may be providing the Company with for the access and use of the App is governed by
            the
            French law n°78-17 "Informatique et Libertés" dated 6 January 1978 (amended).</p>

        <h2>2. Right to access, correct and delete data and to object to data processing</h2>
        <p>You are entitled to access, correct and delete your personal data, and to object to the processing of
            such data.
            You may exercise these rights, at any time, by writing to the following address: MOBILE PRACTICE, 4
            route des
            Côtes, 74290 Menthon Saint Bernard, France or by sending an e-mail to <a
                    href="mailto:contact@mobilepractice.io">contact@mobilepractice.io</a>.</p>
        <p>You are also entitled, if relevant, to use unsubscribe links contained in our messages sent by
            e-mail.</p>

        <h2>3. Management of personal data</h2>

        <h3>3.1 Purpose of data collection</h3>

        <p>The Company collects your personal data via the App only for the following purposes:</p>
        <ul>
            <li>statistics, studies and analysis,</li>
            <li>improvement of the App,</li>
        </ul>
        <p>Mandatory information must be entered in the information fields marked with an asterisk in the data
            collection
            forms. If these fields are not completed, we are unable to address your query or to provide the services
            requested.</p>

        <h3>3.2 Retention of data</h3>
        <p>Data is retained for a period appropriate to the purposes for which it was collected and is, in any
            event,
            destroyed at the end of such period.</p>

        <h3>3.3 Data recipients</h3>
        <p>The Company is the recipient of the data for the worldwide users of the App.</p>
        <p>The Company may communicate your personal data to third parties only provided that:</p>
        <ul>
            <li>you have given your prior consent to such communication to a third party, and/or,</li>
            <li>the Company is required by a judicial authority or any other administrative authority to provide it
                with
                such information.
            </li>
        </ul>

        <h3>3.4 Data security and privacy</h3>
        <p>The Company makes every effort to put in place suitable precautions to safeguard the security and privacy
            of
            personal data, and to prevent it from being altered, corrupted, destroyed or accessed by unauthorized
            third
            parties.</p>
        <p>However, the Company do not control each and every risk related to the use of the Internet, and therefore
            warns
            the App users of the potential risks involved in the functioning and use of the Internet.</p>

        <h2>4. Changes to our privacy policy</h2>
        <p>The Company may make changes to this policy. We will ensure that you are informed of such changes, via a
            special
            message on the App, or otherwise.</p>
    </div>
</div>

{% endblock %}


